{% comment %}{% if collection.all_tags.size > 0 %}
  <div id="data-types">
    {% for tag in collection.all_tags %}
      {% if tag contains 'Chardonnay' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.chardonnay_description }}"></div>
        {% elsif tag contains 'Gewürztraminer' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.gewurztraminer_description }}"></div>
        {% elsif tag == 'Pinot Gris' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.pinot_gris_description }}"></div>
        {% elsif tag == 'Reisling' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.reisling_description }}"></div>
        {% elsif tag == 'Sauvignon Blanc' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.sauvignon_blanc_description }}"></div>
        {% elsif tag == 'Viognier' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.voignier_description }}"></div>
        {% elsif tag == 'White Blend' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.white_blend_description }}"></div>
        {% elsif tag == 'Pinot Noir' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.pinot_noir_description }}"></div>
        {% elsif tag == 'Olive Oil' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.olive_oil_description }}"></div>
        {% elsif tag == 'Preserves' %}
        <div class="data-wine" data-{{ type | downcase | replace: ' ', '-' }}="{{ settings.preserves_description }}"></div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}{% endcomment %}

{% if collection.all_tags.size > 0 %}
  <div id="data-types">
    {% for tag in collection.all_tags %}

        <div class="data-wine" data-chardonnay="{{ settings.chardonnay_description }}"></div>
        
        <div class="data-wine" data-gewurztraminer="{{ settings.gewurztraminer_description }}"></div>
        
        <div class="data-wine" data-pinot-gris="{{ settings.pinot_gris_description }}"></div>
       
        <div class="data-wine" data-reisling="{{ settings.reisling_description }}"></div>
        
        <div class="data-wine" data-sauvignon-blanc="{{ settings.sauvignon_blanc_description }}"></div>
    
        <div class="data-wine" data-voignier="{{ settings.voignier_description }}"></div>
        
        <div class="data-wine" data-white="{{ settings.white_blend_description }}"></div>
        
        <div class="data-wine" data-pinot-noir="{{ settings.pinot_noir_description }}"></div>
        
        <div class="data-wine" data-olive-oil="{{ settings.olive_oil_description }}"></div>
        
        <div class="data-wine" data-preserves="{{ settings.preserves_description }}"></div>
      
    {% endfor %}
  </div>
{% endif %}