<div id="data-types">
{% if type == 'Chardonnay' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Gewurztraminer' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Pinot Gris' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Reisling' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Sauvignon Blanc' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Viognier' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'White Blend' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Pinot Noir' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Olive Oil' %}
  <div data-{{ type | downcase }}=""></div>
  {% elsif type == 'Preserves' %}
  <div data-{{ type | downcase }}=""></div>
{% endif %}
</div>